# Python
venv/
venv-embedded/
venv-embedded-x64/
__pycache__/
*.pyc
*.pyo

# Node
node_modules/
node-website/node_modules/

# Electron build output
dist/

# Dataset (太大，唔上傳)
fer2013_dataset/
fer2013_4class/

# Old model (只上傳新的 RAF-DB 模型)
emotion_model/
my_emotion_model_4class/

# Mac
.DS_Store
